
@{
    ViewData["Title"] = "Logueado";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

<h1 style="color: white; margin: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bienvenido @ViewBag.usuario</h1>




